<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appender name="File"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DIR}/service.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOG_DIR}/service.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>100</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] -%c{5}.%M[%L] - %msg%n
			</pattern>
		</encoder>
	</appender>
 	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender"> 
        <encoder charset="UTF-8"> 
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>
	<root level="debug">
		<appender-ref ref="File" />
	</root>
</configuration>